{% extends "base.html" %}

{#
{% block announce %}
<div>
    announcement goes here
</div>
{% endblock %}
#}

{% block extrahead %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Anubis Chain",
  "url": "https://anubischain.ai",
  "logo": "https://docs.anubispace.org/assets/logo.svg",
  "description": "Anubis Chain is a community-driven and decentralized blockchain ecosystem for Web3 dApps",
  "sameAs": [
    "https://github.com/anubis-chain"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Anubis Chain Documentation",
  "url": "https://docs.anubispace.org",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "https://docs.anubispace.org/?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
{% endblock %}

{% block htmltitle %}
    {% if page.meta and page.meta.title %}
        <title>{{ page.meta.title }}</title>
    {% elif page.title and not page.is_homepage %}
        <title>{{ page.title | striptags }}</title>
    {% else %}
        <title> Anubis Chain Documentation</title>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://unpkg.com/mathjax@3.2.2/es5/tex-mml-chtml.js" integrity="sha384-Wuix6BuhrWbjDBs24bXrjf4ZQ5aFeFWBuKkFekO2t8xFU0iNaLQfp2K6/1Nxveei" crossorigin="anonymous"></script>
<script src="https://unpkg.com/katex@0.16.10/dist/katex.min.js" integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd" crossorigin="anonymous"></script>
<script src="https://unpkg.com/katex@0.16.10/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"></script>
{% endblock %}
